.custom-file-label::after {
    content: "" !important;
    width: 40px;
    background-image: url(https://img.icons8.com/ultraviolet/30/000000/upload-2--v1.png) ;
    background-repeat: no-repeat;
    background-position: center;
  }

.filecontainer{
    width: 100px;
}

.user-data{
    display: block;
    height: 100% ;
}

.files-grid-tiles{
    display: flex ;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.files-grid-details{
    display: flex ;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
}

.control-row{
    height: 50px;
}

.path-row{
    height: 21px;
}

.data-row{
    height: calc(100% - 50px - 21px);
}

.flex-centre{
    display: flex;
    align-items: center;
}