:root {
  --header-height: 50px;
  --user-row-height: 50px;
}

*{
  box-sizing: border-box;
  font-size: 14px;
}

header{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: blue;
}

.user-row{
  height: var(--user-row-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-row{
  min-height: calc(100vh - var(--header-height) - var(--user-row-height));
}

.height100{
  height:100% ;
}

.btn-logout{
 height: 35px;
 margin-right: 5px;
}
