.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s linear 0.3s, top 0.3s linear;
  }

  .modal-hidden {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: -100vw;
    left: 0;
    display: block;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-top: 40px;
  }