/* *{
  box-sizing: border-box;
} */

.App {
  /* display: flex;
  flex-direction: column;
  border: 3px;
  width: 100%;
  background: #777; */
}

header {
  /* height: 50px;
  border: 4px double black; */
}

.main {
  /* display: flex;
  flex-direction: row;
  border: 4px double black; */
}

.menu-bar {
  /* width: 200px;
  background-color: aqua;
  margin: 3px; */
}

.contetnt-bar {
  /* background-color: aqua;
  margin: 3px;
  width: 100%; */
}

table {
  /* border: 4px double black;
  margin: auto; */
  /* width: 600px !important; */
}

.form-group {
  margin-bottom: 0px;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.error {
  color: red;
  height: 19px;
}
